<html>
    <head>
        <title>
            SellX
        </title>
        <link rel="shortcut icon" href="S.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu">
                <div class="header item">
                    <strong>SellX</strong>
                </div>  
                <div class="right menu">
                    <a class="item" href="/mycart"><i class="shopping cart icon"></i>My Cart (<%= data.cart.length %>)</a>
                    <a class="item"><i class="icon user circle"></i><%= data.user.first_name%> <%= data.user.last_name%></a>
                    <a class="item" href="/logout"><i class="Sign Out icon"></i>Log Out</a>
                </div>
            </div>
        </div>
        <div class="filter">
            <h5>Filter</h5>
            <form method="GET" action="/home">
                <select name="category" id="cata">
                    <option value="">Pick a category   </option>
                    <option value="Electronics">Electronics</option>
                    <option value="Stationary">Stationary</option>
                    <option value="Automobiles">Automobiles</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Sport Items">Sport Items</option>
                </select>
                <hr>
                <select name="sort" id="sort">
                    <option value="">Sort by</option>
                    <option value="low">Price: Low to High</option>
                    <option value="high">Price: High to Low</option>
                </select>
                <br>
                <br>
                <input type="submit" value="Apply" class="ui button">
            </form>
        </div>
        <div class="ui grid">
            <% if(data.ads.length > 0){
                data.ads.forEach(function(ad){ %>
                        <div class="five wide column">
                            <div class="ad">
                                <div class="image"><img src= "<%= ad.image %>" ></div>
                                <span class="details">
                                    <span class="name"><%= ad.name %></span>
                                    <span class="desc"><%= ad.description %></span>
                                    <span class="price">Price: ₹ <%=ad.price%>/-</span><br>
                                    <% 
                                        var result = data.cart.filter(function( obj ) {
                                            return obj.product_id == ad.product_id;
                                        });
                                        if(result.length<=0){
                                    %>
                                    <a href="/addcart?id=<%= ad.product_id %>"><button class="ui blue button"><i class="icon plus"></i>Add to cart</button></a>
                                    <%
                                        } else{ %>
                                    <a href="/mycart"><button class="ui green button"><i class="icon check"></i>In Cart</button></a>
                                    <%  }
                                    %>
                                </span>
                            </div>
                        </div>
                <% });
                } else {%>
                    <h1>No Products</h1>
                <% } %>
        </div>
            