<% include ./partials/header %>
<div class="back">
	<a href="/blogs" class="ui floated orange basic button"><i class="left chevron icon"></i>Back</a>
</div>
<div class="ui main text container segment show">
	<div class="ui huge header">
		<h2><%= blog.title %></h2>
	</div>
	<div class="ui top attached">
		<div class="ui item segment">
			<img class="ui centred rounded image" src="<%=blog.image%>" alt="<%=blog.image%>">
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
		</div>
		<div class="description">
			<p><%- blog.body %></p>
		</div>
	</div>
	<hr>
	<a href="/blogs/<%=blog._id%>/edit" class="ui violet inverted button">Edit</a>
	<form action="/blog/<%=blog._id%>?_method=DELETE" method="POST" id="delete" >
		<button class="ui red inverted button">Delete</button>
	</form>
</div>

<% include ./partials/footer %>
